.gellery-form {
  display: flex;
  min-width: 600px;
  margin: 0 auto;
  padding-bottom: 40px;
  align-items: center;
  margin-top: 40px;
}
.gallery-input {
  height: 40px;
  font-size: 18px;
  padding-left: 15px;
  border: 1px solid #303030;
  border-radius: 6px;
  flex-grow: 1;
}
.gellery-btn {
  font-size: 16px;
  padding: 10px 20px;
  background-color: #2ecc71;
  color: #fff;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 6px;
  background: linear-gradient(90deg, #112e0f, #112e0f, #165414, #379f3c);
  height: 40px;
}
.gallery-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.gallery-item {
  flex-basis: calc((100% - 90px) / 4);
  height: 400px;
}
.loader {
  width: 48px;
  height: 48px;
  border: 3px dotted #e3e314;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
  margin-left: 45%;
  margin-top: 25%;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #ff3d00;
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.gallery-btn-js{
	font-size: 16px;
	padding: 10px 20px;
	color: #fff;
	border: none;
	text-transform: uppercase;
	cursor: pointer;
	margin-left: 10px;
	border-radius: 6px;
	background: linear-gradient(90deg, #112e0f, #112e0f, #1077a3, #0a07d1);
	height: 40px;
}


.btn-wrapper{
	width: 100%;
	display: flex;
	justify-content: center;
}